.container-fluid
{
    background-color: #000000;
    padding-left: 70px;
    padding-right: 50px;
    position: fixed;
    top: 0;
}
.nav-item
{
    font-size: 24px;
    padding-right: 50px;
}
.col
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item:hover
{
    background-color:#2b2b2b;
    border-radius:5%;
}